.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: var(--color-bg);
}

@media (width <= 720px) {
  .body {
    flex-direction: column;
  }
}
